@mixin set-font($value) {
  @if $value == small {
    font-size: 14px;
  } @else if $value == medium {
    font-size: 18px;
  } @else if $value == large {
    font-size: 22px;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-align {
  display: flex;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin nav-container {
  max-width: $max-width;
  @media (max-width: $sm-screen) {
    padding: 0 10px;
  }
  @media (min-width: $md-screen) {
    padding: 0 20px;
  }
  @media (min-width: $lg-screen) {
    padding: 0 20px;
  }
  @media (min-width: 1440px) {
    padding: 0;
  }
}

@mixin container {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  @media (max-width: $sm-screen) {
    width: 90%;
    padding: 0 10px;
  }
  @media (min-width: $md-screen) {
    width: 90%;
    padding: 0 20px;
  }
  @media (min-width: $lg-screen) {
    padding: 0 20px;
  }
  @media (min-width: 1440px) {
    padding: 0;
  }
}
