//colors
$primary-color: #19a463;
$primaryLight-color: lighten($primary-color, 30%);
$primaryDark-color: darken($primary-color, 30%);
$star-color: #ffb33e;
$white: #fff;
$text-dark: #404145;
$text-light: #7a7d85;
$background-color: #f5f5f5;
$border-color: #e6e6e6;

//screen
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$max-width: 1440px;

//fonts
$font-sm: 14px;
$font-bs: 16px;
$font-md: 18px;
$font-lg: 22px;

$font-light: 300;
$font-base: 400;
$font-semiBold: 500;
$font-bold: 600;
// $font-black: 700;

//gaps
$xs-gap: 2px;
$sm-gap: 5px;
$common-gap: 10px;
$md-gap: 30px;
$lg-gap: 40px;

//border
$border-light: 1px solid $border-color;
$border-medium: 2px solid $border-color;

$rounded-full: 9999px;
