nav {
  @include flex-center;
  height: 80px;
  border-bottom: $border-medium;
  background-color: $white;
  .nav-container {
    @include nav-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .right-side {
      @include flex-align;
      gap: $md-gap;
      .logo {
        & img {
          width: 100px;
        }
      }
      & ul {
        @include flex-align;
        gap: $sm-gap;

        & li {
          color: $text-dark;
          font-size: 17px;
          font-weight: $font-semiBold;
          @include flex-align;
          gap: $sm-gap;
          padding: 8px 12px;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            background-color: lighten($text-dark, 70%);
          }

          & svg {
            font-size: 24px;
            color: $text-dark;
          }
        }
      }
    }
    .left-side {
      @include flex-align;
      gap: $sm-gap;

      .icon-menu {
        @include flex-center;
        color: $text-dark;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: lighten($text-dark, 70%);
        }

        & svg {
          font-size: 23px;
          color: $text-dark;
        }
      }
      .profile-image {
        height: 36px;
        aspect-ratio: 1/1;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        & img {
          height: 100%;
          border-radius: $rounded-full;
        }

        & div {
          position: absolute;
          bottom: -2px;
          right: -2px;
          height: 14px;
          aspect-ratio: 1/1;
          border: 2px solid #fff;
          border-radius: $rounded-full;
          background-color: $primary-color;
        }
      }
      .doller {
        @include flex-center;
        padding: 0 4px;
        margin: 0 10px;
        border: 1px solid $text-dark;
        border-radius: 6px;

        & a {
          color: $text-dark;
          font-weight: $font-semiBold;
        }

        & a:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }
    }
  }
}

@media (max-width: $sm-screen) {
  .nav-container {
    @include container;
  }
}
