.gig-cart {
  width: 250px;
  background-color: $white;
  border: $border-light;
  aspect-ratio: 1/1.1;
  overflow: hidden;

  & .gig-img {
    width: 100%;
    overflow: hidden;

    & img {
      width: 100%;
      border-bottom: $border-light;
      aspect-ratio: 1.5/1;
    }
  }
  & .content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .title {
      font-size: $font-bs;
      font-weight: $font-semiBold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    & .action {
      @include flex-between;
      border: $border-medium;

      & svg {
        font-size: 24px;
        color: $text-light;
      }

      & .text {
        font-size: 12px;
        text-transform: uppercase;
        @include flex-align;
        gap: 8px;

        & strong {
          font-size: 20px;
        }
      }
    }
  }
}
