@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-item {
  display: flex;
  align-items: center;
}

@mixin flex-gap-between {
  display: flex;
  align-items: center;
}

//fonts
@mixin sectionHeadingText {
  font-size: 24px;
  font-weight: 600;
  color: var(--HeadingTextColor);
}
@mixin setFont($size) {
  @if $size == big {
    font-size: 20px;
  } @else if $size == medium {
    font-size: 16px;
  } @else if $size == small {
    font-size: 14px;
  } @else if $size == description {
    font-size: 14px;
  }
}

//component
@mixin container {
  max-width: 1444px;
  padding: 0 40px;
  margin: 0 auto;
}

@mixin BTN($variant) {
  @include flex-center;
  height: 38px;
  width: fit-content;
  padding: 0 14px;
  transition: all $common-duration;
  cursor: pointer;
  @include setFont(big);
  @if $variant == secondary {
    color: $primaryDarkColor;
    background-color: $whiteColor;
    border: $medium-border solid $primaryDarkColor;
    border-radius: $rounded-full;
    &:hover {
      // transform: ;
      color: $primaryColor;
      border: $medium-border solid $primaryColor;
    }
  } @else if $variant == primary {
    color: $primaryDarkColor;
    background-color: $whiteColor;
    border: $medium-border solid $primaryDarkColor;
    border-radius: $rounded-full;
    &:hover {
      color: $primaryColor;
      border: $medium-border solid $primaryColor;
    }
  }
}
