//breakpoint
$mobile-screen: 767px;
$tablet-screen: 768px;
$laptop-screen: 1024px;
$big-screen: 1445px;

//height-width
$navbar-height: 70px;

//border
$light-border: 1px;
$medium-border: 2px;
$bold-border: 3px;
