//colors
$primaryColor: #1072eb;
$primaryLightColor: lighten($primaryColor, 30%);
$primaryDarkColor: darken($primaryColor, 30%);

$HeadingTextColor: #0c0c0d;
$DescriptionTextColor: #292929;
$borderColor: #9e9e9e;
$whiteColor: #fff;

//breakpoint
$mobile-screen: 767px;
$tablet-screen: 768px;
$laptop-screen: 1024px;
$big-screen: 1445px;

//height-width
$navbar-height: 70px;

//border
$light-border: 1px;
$medium-border: 2px;
$bold-border: 3px;
$rounded-full: 9999px;

//transition-duration
$common-duration: 0.5s;
