nav {
  background-color: $whiteColor;
  height: $navbar-height;
  @include flex-between;
  border-bottom: $light-border solid $borderColor;
  position: relative;
  .mainMenu {
    @include flex-item;
    gap: 18px;
    .logo {
      @include flex-item;
      height: 50px;
      width: 120px;
      overflow: hidden;
      & img {
        width: 120px;
        object-fit: cover;
      }
    }
    .menus_container {
      @include flex-item;
      gap: 18px;
      li {
        .icon {
          height: 20px;
          width: 20px;
          transition: all 0.5s;
        }

        &:hover .icon {
          color: $primaryColor;
          transform: rotate(-180deg);
        }

        &:hover .dropdownMenus {
          display: block;
        }
      }
      .d_content {
        display: none;
        height: 0;
        position: absolute;
        width: 100%;
        top: $navbar-height;
        left: 0;
        // right: 0;
        background-color: #ff9494;
        z-index: 10;
        // transition: all 0.5s;
      }
      .d_menus:hover .d_content {
        @include flex-between;
        transition: auto 0.5s;
        max-width: 1444px;
        padding: 20px 40px;
        margin: 0 auto;
      }
      .d_menus {
        @include flex-between;
        gap: 4px;
        padding: 10px 12px;
        border-radius: $rounded-full;
        font-size: 18px;
        font-weight: 600;
        color: $primaryDarkColor;
        transition: all 0.5s;
        cursor: pointer;
        &:hover {
          color: $primaryColor;
          background-color: rgba(16, 114, 235, 0.1);
        }
      }
    }
  }
  .action_menus {
    @include flex-item;
    gap: 18px;
    & button {
    }
  }

  .linkBTN {
    padding: 8px 12px;
    border-radius: $rounded-full;
    font-size: 18px;
    font-weight: 600;
    color: $primaryDarkColor;
    transition: all 0.5s;
    cursor: pointer;

    border-radius: $rounded-full;
    border: $light-border solid $whiteColor;
    & a {
      color: $primaryDarkColor;
    }
    &:hover {
      color: $primaryColor;
      border-radius: $rounded-full;
      border: $light-border solid $borderColor;
    }
  }
}

@media (min-width: $tablet-screen) {
}

@media (max-width: $mobile-screen) {
}
