.base-text {
  font-size: $font-bs;
}
.dark-text-cp {
  color: $text-dark;
}
.light-text-cp {
  color: $text-light;
}
.base-text-cp {
  font-weight: $font-base;
}
.semiBold-text-cp {
  font-weight: $font-semiBold;
}
.bold-text-cp {
  font-weight: $font-bold;
}
